/* CSS Stylesheet */

/* Whole Page Styles */

* {
	margin: 0;
	padding: 0;
}

html {
	background-color: black;
}

body {
	width: 840px;
	margin: 0 auto;
	padding: 0 30px;
	background-color: white;
	box-shadow: 10px 0 7px white, -10px 0 7px white;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
	background-color: gray;
	border-radius: 0 0 10px 10px;
	margin: 0 30px 30px;
	height: 100px;
}

.logo {
	width: 200px;
	height: 100px;
	background-color: blue;
	text-indent: -10000px;
	float: left;
}

header nav ul {
	list-style: none;
}

header nav ul li {
	float: left;
	font-size: 1.1em;
	margin: 37px 19px 0;
}

header nav ul li a {
	color: rgb(190,190,190);
	text-decoration: none;
}

header nav ul li a:hover {
	color: rgb(210,210,210);
}

.current {
	color: rgb(230,230,230);
}

/* Main Content Section */

main {
	display: block;
	clear: left;
	min-height: 82vh;
}

main h1 {
	font-size: 2.8em;
	margin-bottom: 10px;
}

/* People Page Styles */

.people-page {
	min-height: 1150px;
}

.people-nav ul {
	list-style: none;
}

.people-nav ul li {
	float: left;
	margin-right: 10px;
}

.people-nav ul li img {
	width: 100px;
	height: 100px;
}

.profile {
	clear: both;
	display: none;
}

.profile:target {
	display: block;
}

.profile h1 {
	margin-top: 285px;
}

.profile-banner {
	list-style: none;
}

.profile-banner li {
	float: left;
}

.profile-banner li img {
	width: 280px;
	height: 187px;
}

.profile-social {
	width: 32px;
	float: left;
	list-style: none;
	position: relative;
	z-index: 5;
}

.profile-social li a {
	margin-bottom: 10px;
	display: block;
	width: 32px;
	height: 32px;
	text-indent: -10000px;
}

.twitter a{
	background-color: rgb(0,0,230);
}

.facebook a {
	background-color: rgb(0,0, 200);
}

.linkedin a {
	background-color: rgb(0,0,180);
}

.blog a {
	background-color: rgb(255,255,0);
}

.youtube a {
	background-color: rgb(235,0,0);
}

.mormon a {
	background-color: rgb(150,150,0);
}

.website a {
	background-color: rgb(0,0,0);
}

.profile-pic {
	width: 300px;
	height: 300px;
	float: left;
	position: relative;
	left: -32px;
}

.profile-topten {
	clear: left;
	float: right;
}

.profile-topten ul {
	list-style: none;
}

.profile p {
	clear: left;
}

.profile aside {
	width: 200px;
	margin-left: 30px;
	border: 2px solid black;
	border-radius: 15px;
}

.profile aside h3 {
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 10px 10px 0 0;
}

.profile aside ul {
	padding: 0 5px;
}

.profile aside ul li {
	margin: 5px 0;
}

/* Footer */

footer {
	clear: both;
	padding-top: 20px;
	text-align: center;
	font-size: 0.8em;
}